# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables (PENTING - jangan upload SECRET_KEY!)
.env
local_settings.py

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/